<div class="hero">
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">{{"events2"|translate}}</th>
                    <th scope="col"> {{"descriptions"|translate}}</th>
                    <th scope="col">{{"picture"|translate}}</th>
                    <th scope="col">{{"Link"|translate}}</th>
                </tr>
            </thead>
            <tbody class="blue-bg">
                <tr>
                    <th  scope="row">{{"location1"|translate}}</th>
                    <td> {{"description2"|translate}}
                    </td>
                    <td><img src="../../../assets/img/esemenyek/komaromito.jpg" alt=""></td>
                    <td><button id="button1" type="button" class="btn btn-outline-primary"><a
                                href="https://www.programturizmus.hu/ajanlat-komarom-horgaszat.html">{{"button1"|translate}}</a></button>
                    </td>
                </tr>
                <tr>
                    <th  scope="row">{{"location2"|translate}}</th>
                    <td>
                        {{"description3"|translate}}
                    </td>
                    <td><img src="../../../assets/img/esemenyek/roszke.jpg" alt=""></td>
                    <td><button id="button2" type="button" class="btn btn-outline-primary"><a
                                href="https://www.programturizmus.hu/ajanlat-horgaszverseny-roszke.html">{{"button2"|translate}}</a></button>
                    </td>
                </tr>
                <tr>
                    <th  scope="row">{{"location3"|translate}}</th>
                    <td>{{"description4"|translate}}
                    </td>

                    <td><img src="../../../assets/img/esemenyek/siofok.jpg" alt=""></td>
                    <td> <button id="button3" type="button" class="btn btn-outline-primary"><a
                                href="https://www.programturizmus.hu/ajanlat-pontyfogo-kupa.html">{{"button3"|translate}}</a></button>
                    </td>
                </tr>
                <tr>
                    <th  scope="row">{{"location4"|translate}}</th>
                    <td>{{"description5"|translate}}
                    </td>
                    <td> <img src="../../../assets/img/esemenyek/Batonyterenyei.jpg" alt=""></td>
                    <td><button id="button4" type="button" class="btn btn-outline-primary"><a
                                href="https://www.programturizmus.hu/ajanlat-maconkai-viztarozo-horgaszversenyek.html">{{"button4"|translate}}</a></button>
                    </td>

                </tr>
                <tr>
                    <th   scope="row">{{"location5"|translate}}</th>
                    <td> {{"description6"|translate}}
                    </td>
                    <td><img src="../../../assets/img/esemenyek/Bogacs.jpg" alt=""></td>
                    <td> <button id="button5" type="button" class="btn btn-outline-primary"><a
                                href="https://www.programturizmus.hu/ajanlat-horgaszverseny-es-horgasztalalkozo-bogacs.html">{{"button5"|translate}}</a></button>
                    </td>

                </tr>
                <tr>
                    <th  scope="row">{{"location6"|translate}}</th>
                    <td>
                        {{"description7"|translate}}
                    </td>
                    <td><img src="../../../assets/img/esemenyek/szekesfehervari.jpg" alt=""></td>
                    <td> <button id="button6" type="button" class="btn btn-outline-primary"><a
                                href="https://www.programturizmus.hu/ajanlat-fehervari-halunnep.html">{{"button6"|translate}}</a></button>
                    </td>
                </tr>
                <tr>
                    <th  scope="row">{{"location7"|translate}}</th>
                    <td>
                        {{"description8"|translate}}
                    </td>
                    <td><img src="../../../assets/img/esemenyek/Hortobagyi-halasto.jpeg" alt=""></td>

                    <td> <button id="button7" type="button" class="btn btn-outline-primary"><a
                                href="https://www.programturizmus.hu/ajanlat-hortobagyi-halasto.html">{{"button7"|translate}}</a></button>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>