<div class="hero">
   <div class="container">
     <table class="table">
       <thead>
         <tr>
           <th scope="col">{{'groupHeader'|translate}}</th>
           <th scope="col"> {{'nameAndSizeHeader'|translate}}</th>
           <th scope="col">{{'descriptionHeader'|translate}}</th>
           <th scope="col">{{'imageHeader'|translate}}</th>
         </tr>
       </thead>
       <tbody class="blue-bg">
         <tr>
           <th scope="row">{{'group1'|translate}}</th>
           <td>{{'nameAndSize1'|translate}}</td>
           <td> {{'description9'|translate}}
           </td>
           <td><img src="../../../assets/img/halak/compó.jpg" alt=""></td>
         </tr>
         <tr>
           <th scope="row">{{'group2'|translate}}</th>
           <td>{{'nameAndSize2'|translate}}</td>
           <td>{{'description10'|translate}}
           </td>
           <td><img src="../../../assets/img/halak/jaszkeszeg.png" alt=""></td>
         </tr>
         <tr>
           <th scope="row">{{'group3'|translate}}</th>
           <td>{{'nameAndSize3'|translate}}</td>
           <td>
            {{'description11'|translate}}
           </td>
           <td><img src="../../../assets/img/halak/garda.jpg" alt=""></td>
 
         </tr>
         <tr>
           <th scope="row">{{'group4'|translate}}</th>
           <td>{{'nameAndSize4'|translate}}</td>
           <td> {{'description12'|translate}}
           </td>
           <td><img src="../../../assets/img/halak/karasz.jpg" alt=""></td>
         </tr>
         <tr>
           <th scope="row">{{'group5'|translate}}</th>
           <td>{{'nameAndSize5'|translate}}/td>
           <td>
            {{'description13'|translate}}
           </td>
           <td><img src="../../../assets/img/halak/kecsege.png" alt=""></td>
 
         </tr>
         <tr>
           <th scope="row">{{'group6'|translate}}</th>
           <td>{{'nameAndSize6'|translate}}</td>
           <td> {{'description14'|translate}}
           <td><img src="../../../assets/img/halak/Petényi-márna.jpg" alt=""></td>
         </tr>
         <tr>
           <th scope="row">{{'group7'|translate}}</th>
           <td>{{'nameAndSize7'|translate}}</td>
           <td>
            {{'description15'|translate}}
           </td>
           <td><img src="../../../assets/img/halak/paduc.jpg" alt=""></td>
 
         </tr>
         <tr>
           <th scope="row">{{'group8'|translate}}</th>
           <td> {{'nameAndSize8'|translate}}</td>
           <td>{{'description16'|translate}}
           <td><img src="../../../assets/img/halak/ponty.png" alt=""></td>
         </tr>
         <tr>
           <th scope="row">{{'group9'|translate}}</th>
           <td>{{'nameAndSize9'|translate}}</td>
           <td>
            {{'description17'|translate}}
           </td>
           <td><img src="../../../assets/img/halak/szilvaorru-keszeg.jpg" alt=""></td>
 
         </tr>
         <tr>
           <th scope="row">{{'group10'|translate}}</th>
           <td>{{'nameAndSize10'|translate}}</td>
           <td>
            {{'description18'|translate}}
           </td>
           <td><img src="../../../assets/img/halak/Balin.jpg" alt=""></td>
         </tr>
         <tr>
           <th scope="row">{{'group11'|translate}}</th>
           <td>{{'nameAndSize11'|translate}}</td>
           <td>{{'description19'|translate}}
           </td>
           <td><img src="../../../assets/img/halak/csuka.png" alt=""></td>
         </tr>
         <tr>
           <th scope="row">{{'group12'|translate}}</th>
           <td>{{'nameAndSize12'|translate}} </td>
           <td>
            {{'description20'|translate}}
           </td>
           <td><img src="../../../assets/img/halak/domolyko.jpg" alt=""></td>
 
         </tr>
         <tr>
           <th scope="row">{{'group13'|translate}}</th>
           <td>{{'nameAndSize13'|translate}}</td>
           <td> {{'description21'|translate}}
           </td>
           <td><img src="../../../assets/img/halak/harcsa.png" alt=""></td>
         </tr>
         <tr>
           <th scope="row">{{'group14'|translate}}</th>
           <td>{{'nameAndSize14'|translate}}</td>
           <td>
            {{'description22'|translate}}
           </td>
           <td><img src="../../../assets/img/halak/süllő.jpg" alt=""></td>
 
         </tr>
         <tr>
           <th scope="row">{{'group15'|translate}}</th>
           <td>{{'nameAndSize15'|translate}}</td>
           <td> {{'description23'|translate}}
           </td>
           <td><img src="../../../assets/img/halak/kősüllő.jpg" alt=""></td>
         </tr>
         <tr>
           <th scope="row">{{'group16'|translate}}</th>
           <td> {{'nameAndSize16'|translate}}</td>
           <td>
            {{'description24'|translate}}
           </td>
           <td><img src="../../../assets/img/halak/menyhal.jpg" alt=""></td>
 
         </tr>
         <tr>
           <th scope="row">{{'group17'|translate}}</th>
           <td> {{'nameAndSize17'|translate}}</td>
           <td> {{'description25'|translate}}
           </td>
           <td><img src="../../../assets/img/halak/sebes_pisztrang.png" alt=""></td>
         </tr>
         <tr>
           <th scope="row">{{'group18'|translate}}</th>
           <td>{{'nameAndSize18'|translate}} </td>
           <td> {{'description26'|translate}}
           </td>
           <td><img src="../../../assets/img/halak/allaskusz.jpg" alt=""></td>
         </tr>
         <tr>
           <th scope="row">{{'group19'|translate}}</th>
           <td>{{'nameAndSize19'|translate}}</td>
           <td> {{'description27'|translate}}
           </td>
           <td><img src="../../../assets/img/halak/bontoskölönte.jpg" alt=""></td>
         </tr>
         <tr>
           <th scope="row">{{'group20'|translate}}</th>
           <td>{{'nameAndSize20'|translate}}</td>
           <td>{{'description28'|translate}}
           </td>
           <td><img src="../../../assets/img/halak/Dunaihering.jpg" alt=""></td>
 
         </tr>
         <tr>
           <th scope="row">{{'group21'|translate}}</th>
           <td>{{'nameAndSize21'|translate}} </td>
           <td> {{'description29'|translate}}
           </td>
           <td><img src="../../../assets/img/halak/Cifra_kölönte.jpg" alt=""></td>
         </tr>
         <tr>
           <th scope="row">{{'group22'|translate}}</th>
           <td>{{'nameAndSize22'|translate}}</td>
           <td>{{'description30'|translate}}</td>
           <td><img src="../../../assets/img/halak/fenekjaro.jpg" alt=""></td>
 
         </tr>
         <tr>
           <th scope="row">{{'group23'|translate}}</th>
           <td>{{'nameAndSize23'|translate}}</td>
           <td> {{'description31'|translate}}
           </td>
           <td><img src="../../../assets/img/halak/fürge_cselle.jpg" alt=""></td>
         </tr>
         <tr>
           <th scope="row">{{'group24'|translate}}</th>
           <td>{{'NameAndSize24'|translate}} </td>
           <td>
            {{'description32'|translate}}
           </td>
           <td><img src="../../../assets/img/halak/gyöngyös_koncér.jpg" alt=""></td>
 
         </tr>
         <tr>
           <th scope="row">{{'group25'|translate}}</th>
           <td> {{'nameAndSize25'|translate}}</td>
           <td> {{'description33'|translate}}
           </td>
           <td><img src="../../../assets/img/halak/halványfoltú_küllő.jpg" alt=""></td>
         </tr>
 
 
         <tr>
           <th scope="row">{{'group26'|translate}}</th>
           <td> {{'nameAndSize26'|translate}} </td>
           <td> {{'description34'|translate}}
           </td>
           <td><img src="../../../assets/img/halak/Viza (Huso huso).jpg" alt=""></td>
         </tr>
 
       </tbody>
     </table>
   </div>
 </div>