<div class="hero">
  <h1 >{{ 'horgaszboltok.title' | translate }}</h1>
  
  <div class="horgaszbolt1">
    <iframe id="maps1"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2697.494063818365!2d19.146451476770405!3d47.460800898033774!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4741c2e0e4047bc5%3A0xd2d782deb23cccd9!2sDupla%20Kukac%20Horg%C3%A1szbolt%20%C3%A9s%20Horg%C3%A1szegyes%C3%BClet!5e0!3m2!1shu!2shu!4v1711575095538!5m2!1shu!2shu"
      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
    <h2>{{'horgaszbolt1.name' |translate}} </h2>
    <h3>{{ 'horgaszbolt1.address' | translate }}</h3>
    <h3>{{ 'horgaszbolt1.phone' | translate }}</h3>
    <button id="button1" type="button" class="btn btn-outline-primary"><a href="https://www.duplakukachorgaszbolt.hu/"> {{ 'horgaszbolt1.buttonText' | translate }}</a></button>
    <img id="img1" src="../../../assets/img/horgaszboltok/duplakukachorgaszbolt.jpeg" alt="">
  </div>


  <div class="horgaszbolt2">
    <iframe id="maps2" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2695.393628924597!2d19.078834676772246!3d47.501724895213215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4741dc628bb502b7%3A0xbc6572a1f80bedc0!2sKeleti%20Horg%C3%A1szbolt!5e0!3m2!1shu!2shu!4v1711578325381!5m2!1shu!2shu" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <h2> {{'horgaszbolt1.name' |translate}}</h2>
    <h3>{{ 'horgaszbolt1.address' | translate }}</h3>
    <h3>{{ 'horgaszbolt1.phone' | translate }}</h3>
    <button id="button2" type="button" class="btn btn-outline-primary"><a href="http://keletihb.hu/">{{ 'horgaszbolt1.buttonText' | translate }}</a></button>
    <img id="img2" src="../../../assets/img/horgaszboltok/keleti.png" alt="">
  </div>
 
  <div class="horgaszbolt3">
    <iframe  id="maps3"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2695.7099317963266!2d19.07155487677195!3d47.49556389563813!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4741dc609ca5db5f%3A0x44a60617f143b2bb!2sKaland%20Horg%C3%A1szbolt%20Sephia%20Bt.!5e0!3m2!1shu!2shu!4v1711577110293!5m2!1shu!2shu"
      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
    <h2>{{'horgaszbolt1.name' |translate}}</h2>
    <h3>{{ 'horgaszbolt1.address' | translate }}</h3>
    <h3>{{ 'horgaszbolt1.phone' | translate }}</h3>
    <button id="button3" type="button" class="btn btn-outline-primary"><a href="https://www.kalandhorgaszbolt.hu/">{{ 'horgaszbolt1.buttonText' | translate }}</a></button>
    <img id="img3" src="../../../assets/img/horgaszboltok/Kaland.jpeg" alt="" >
  </div>

</div>

