<div class="hero">
  <img id="img1" src="../../../assets/img/kornyezetvedelem/environment.jpg" alt="" srcset="">
  <img id="img2" src="../../../assets/img/kornyezetvedelem/environment2.jpg" alt="" srcset="">
  <img id="img3" src="../../../assets/img/kornyezetvedelem/environment5.jpg" alt="" srcset="">
  <img id="" alt="" srcset="">
  <div class="szovegdoboz">


    <h1>{{'title2'|translate}}</h1>
    <p>{{'paragraph1'|translate}}
    </p>

  </div>
  <div class="szovegdoboz2">
    <p>
      {{'paragraph2'|translate}}
    </p>
  </div>
</div>