<div class="hero">
  <div class="card" style="width: 18rem;">
    
      <div class="card-body">
        <h5 class="card-title">{{'title4'|translate}}</h5>
        
        <div class="form-floating mb-3">
          <input type="text" [(ngModel)]="regModel.username" class="form-control" id="username">
          <label for="username">{{'usernamePlaceholder2'|translate}}</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" [(ngModel)]="regModel.firstName" class="form-control" id="firstName">
          <label for="firstName">{{'firstNamePlaceholder'|translate}}</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" [(ngModel)]="regModel.lastName" class="form-control" id="lastNamee">
          <label for="lastName">{{'lastNamePlaceholder'|translate}}</label>
        </div>

        <div class="form-floating mb-3">
          <input [(ngModel)]="regModel.email" type="email" class="form-control" id="email" placeholder="name@example.com">
          <label for="email">{{'emailPlaceholder'|translate}}</label>
        </div>

        <div class="form-floating mb-3">
          <input type="text" [(ngModel)]="regModel.address" class="form-control" id="address">
          <label for="address">{{'addressPlaceholder'|translate}}</label>
        </div>

        
        <div class="form-floating">
          <input [(ngModel)]="regModel.password" type="password" class="form-control" id="password" placeholder="Password">
          <label for="password">{{'passwordPlaceholder2'|translate}}</label>
        </div>
        <button (click)="register()" type="button" class="btn btn-primary">{{'register2' |translate}}</button>
      </div>
    </div>
</div>