<div class="hero">
  <div class="row">
    <div class="col-4">
      <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action active" id="list-home-list" data-bs-toggle="list"
          href="#list-home" role="tab" aria-controls="list-home" >{{'boat' |translate}}</a>
        <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list"
          href="#list-profile" role="tab" aria-controls="list-profile">{{'fishscaler'|translate}}</a>
        <a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list"
          href="#list-messages" role="tab" aria-controls="list-messages" >{{'hooktier'|translate}}</a>
        <a class="list-group-item list-group-item-action" id="list-settings-list" data-bs-toggle="list"
          href="#list-settings" role="tab" aria-controls="list-settings">{{'scale'|translate}}</a>
        
      </div>
    </div>
    <div class="col-8">
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
          <img src="../../../assets/img/kiegeszitok/csonak.jpg" alt="">
          <button id="button1" type="button" class="btn btn-outline-primary"><a
              href="https://kolibricsonakok.hu/Kolibri-KM-380CM-katamaran-csonak">{{'buy' |translate}}</a> </button>
        </div>
        <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
          <img src="../../../assets/img/kiegeszitok/Halpikkelyező.jpg" alt="">
          <button id="button2"  type="button" class="btn btn-outline-primary"><a
              href="https://www.haldorado.hu/termekek/kiegeszito-kellek-c7/halpucolo-eszkozok-c251/dick-halpikkelyezo-i36392">Megveszem</a>
          </button>
        </div>

        <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
          <img src="../../../assets/img/kiegeszitok/hurokkoto.jpg" alt="">
          <button id="button3"  type="button" class="btn btn-outline-primary"><a
              href="https://www.haldorado.hu/termekek/kiegeszito-kellek-c7/horogszabadito-es-csomokoto-c115/preston-floater-loop-sizer-hurokkoto-i33408">
              Megveszem</a></button>
        </div>

        <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
         
          <img src="../../../assets/img/kiegeszitok/merleg.jpg" alt="">
          <button  id="button4" type="button" class="btn btn-outline-primary"><a
              href="https://www.haldorado.hu/termekek/kiegeszito-kellek-c7/merleg-c118/by-dome-team-feeder-elektromos-merleg-50-kg-i38759">
              Megveszem</a></button>
        </div>
        
      </div>
    </div>
  </div>
</div>