
table {
    width: 100%;
    background-color: rgb(246, 169, 3);
  }
  button{
    float: right;
    margin-right: 20px;
  }
  th{
    font-weight: bold;
  }
  a{
    font-weight: bold;
    color: whitesmoke;
  }
  td{
    color: black;
    font-weight: bold;
}